/* reset margin, padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red
}

.green {
    border: 1px solid green
}

.banner {
    height: 500px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;

    .about-sign-in {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .sign-in {
            margin-top: 20px;
            text-decoration: none;
            display: inline-block;
            padding: 7px 15px;
            text-transform: uppercase;
        }

        .sign-in {
            margin-right: 60px;
            margin-left: 25px;
            border-radius: 20px;
            border: 1px solid green;
        }
    }

    .logo {
        /* chen anh vao */
        background: url('./hapoERP.png') center center no-repeat;
        margin-top: 40px;
        height: 100px;
    }

    .text {
        text-align: center;
        margin-top: 30px;

        span {
            color: green;
        }
    }

    .btn-start-now {
        text-align: center;

        can giua button {
            /* cach dinh voi khoi o tren khoang 25px */
            margin-top: 25px;
            /* tao hinh tron */
            border-radius: 20px;
            /* tao khoi ran */
            border: 1px solid green;
            /* dieu chinh chieu dai rong cao thap cua khoi */
            padding: 10px 15px;
            /* viet in  hoa */
            text-transform: uppercase;
            /* tao hinh ban tay */
            cursor: pointer;
        }
    }

    .content-center {

        .left,
        .center,
        .right {
            margin-top: 20px;
            margin-bottom: 30px;
            width: 33%;
            display: inline-block;
            text-align: center;
        }

        span {
            color: red;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}